*
!.dockerignore
!Cargo.toml
!Cargo.lock
!Dockerfile
!config.yaml
!crates/
!crates/**
!upstream/
upstream/*
!upstream/openclaw-v2026.4.15/
!upstream/openclaw-v2026.4.15/**
_upstream_openclaw
upstream/*.zip
**/.git
